<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>page</title>
</head>
<body>
        <li><a href="https://yale918.github.io/asp/" target="_blank" rel="noopener">AppleSheep</a></li>
        <li><a href="https://nfclone918.herokuapp.com/" target="_blank" rel="noopener">NFclone</a></li>
        <li><a href="http://yale918.byethost7.com/" target="_blank" rel="noopener">Discuz</a></li>
</body>
</html>


